/out/build/x64-Debug/.ninja_deps
/out/build/x64-Debug/.ninja_log
/.vs/sw-sdk.slnx/v18/.wsuo
/.vs/sw-sdk.slnx/v18/Browse.VC.db
/out/build/x64-Debug/build.ninja
/out/build/x64-Debug/.cmake/api/v1/reply/cache-v2-36f5fb88f26fb81dec49.json
/.vs/sw-sdk.slnx/FileContentIndex/cb3a78e4-dd3c-4716-97cc-8b07544d29a3.vsidx
/out/build/x64-Debug/CMakeFiles/cmake.check_cache
/.vs/cmake.db
/.vs/CMake Overview
/out/build/x64-Debug/cmake_install.cmake
/out/build/x64-Debug/CMakeCache.txt
/out/build/x64-Debug/CMakeFiles/4.2.3-msvc3/CMakeCCompiler.cmake
/out/build/x64-Debug/CMakeFiles/4.2.3-msvc3/CompilerIdC/CMakeCCompilerId.c
/out/build/x64-Debug/CMakeFiles/4.2.3-msvc3/CompilerIdC/CMakeCCompilerId.exe
/out/build/x64-Debug/CMakeFiles/4.2.3-msvc3/CompilerIdC/CMakeCCompilerId.obj
/out/build/x64-Debug/CMakeFiles/CMakeConfigureLog.yaml
/out/build/x64-Debug/CMakeFiles/4.2.3-msvc3/CMakeCXXCompiler.cmake
/out/build/x64-Debug/CMakeFiles/4.2.3-msvc3/CompilerIdCXX/CMakeCXXCompilerId.cpp
/out/build/x64-Debug/CMakeFiles/4.2.3-msvc3/CompilerIdCXX/CMakeCXXCompilerId.exe
/out/build/x64-Debug/CMakeFiles/4.2.3-msvc3/CompilerIdCXX/CMakeCXXCompilerId.obj
/out/build/x64-Debug/CMakeFiles/4.2.3-msvc3/CMakeDetermineCompilerABI_C.bin
/out/build/x64-Debug/CMakeFiles/4.2.3-msvc3/CMakeDetermineCompilerABI_CXX.bin
/out/build/x64-Debug/.cmake/api/v1/reply/cmakeFiles-v1-c913ba88897bbc086796.json
/out/build/x64-Debug/CMakeFiles/4.2.3-msvc3/CMakeRCCompiler.cmake
/out/build/x64-Debug/CMakeFiles/4.2.3-msvc3/CMakeSystem.cmake
/out/build/x64-Debug/.cmake/api/v1/reply/codemodel-v2-bb64b19eb14e4e57e2e8.json
/out/build/x64-Debug/CMakeFiles/sw_sdk.dir/CXX.dd
/out/build/x64-Debug/CMakeFiles/sw_sdk.dir/CXXDependInfo.json
/out/build/x64-Debug/CMakeFiles/sw_sdk.dir/CXXModules.json
/out/build/x64-Debug/.cmake/api/v1/reply/directory-.-Debug-f6f22219c74102c3da70.json
/out/build/x64-Debug/CMakeFiles/sw_sdk.dir/dllmain.cpp.obj
/out/build/x64-Debug/CMakeFiles/sw_sdk.dir/dllmain.cpp.obj.ddi
/out/build/x64-Debug/CMakeFiles/sw_sdk.dir/dllmain.cpp.obj.modmap
/.vs/sw-sdk.slnx/v18/ipch/AutoPCH/642373f6f9396bfe/DLLMAIN.ipch
/.vs/sw-sdk.slnx/v18/DocumentLayout.backup.json
/.vs/sw-sdk.slnx/v18/DocumentLayout.json
/out/build/x64-Debug/CMakeFiles/sw_sdk.dir/embed.manifest
/.vs/sw-sdk.slnx/FileContentIndex/f5b5635a-3814-4ee6-aaec-5dae37d79c62.vsidx
/.vs/sw-sdk.slnx/FileContentIndex/f66fb292-6917-4dd1-97e5-820ef223411b.vsidx
/out/build/x64-Debug/CMakeFiles/ShowIncludes/foo.h
/out/build/x64-Debug/CMakeFiles/sw_sdk.dir/hooks/hooks.cpp.obj
/out/build/x64-Debug/CMakeFiles/sw_sdk.dir/hooks/hooks.cpp.obj.ddi
/out/build/x64-Debug/CMakeFiles/sw_sdk.dir/hooks/hooks.cpp.obj.modmap
/.vs/sw-sdk.slnx/v18/ipch/AutoPCH/b3d7bfe973642cdb/HOOKS.ipch
/out/build/x64-Debug/.cmake/api/v1/reply/index-2026-05-19T13-50-40-0383.json
/out/build/x64-Debug/CMakeFiles/InstallScripts.json
/out/build/x64-Debug/CMakeFiles/sw_sdk.dir/intermediate.manifest
/out/build/x64-Debug/Testing/Temporary/LastTest.log
/.vs/launch.vs.json
/out/build/x64-Debug/CMakeFiles/sw_sdk.dir/hooks/lua_callback.cpp.obj
/out/build/x64-Debug/CMakeFiles/sw_sdk.dir/hooks/lua_callback.cpp.obj.ddi
/out/build/x64-Debug/CMakeFiles/sw_sdk.dir/hooks/lua_callback.cpp.obj.modmap
/.vs/sw-sdk.slnx/v18/ipch/AutoPCH/15cfd6e7d70dfc6b/LUA_CALLBACK.ipch
/out/build/x64-Debug/CMakeFiles/sw_sdk.dir/hooks/lua_load.cpp.obj
/out/build/x64-Debug/CMakeFiles/sw_sdk.dir/hooks/lua_load.cpp.obj.ddi
/out/build/x64-Debug/CMakeFiles/sw_sdk.dir/hooks/lua_load.cpp.obj.modmap
/.vs/sw-sdk.slnx/v18/ipch/AutoPCH/7900c151dbb87138/LUA_LOAD.ipch
/out/build/x64-Debug/CMakeFiles/sw_sdk.dir/lua/lua_main.cpp.obj
/out/build/x64-Debug/CMakeFiles/sw_sdk.dir/lua/lua_main.cpp.obj.ddi
/out/build/x64-Debug/CMakeFiles/sw_sdk.dir/lua/lua_main.cpp.obj.modmap
/.vs/sw-sdk.slnx/v18/ipch/AutoPCH/e85c5134958a386f/LUA_MAIN.ipch
/out/build/x64-Debug/CMakeFiles/ShowIncludes/main.c
/out/build/x64-Debug/CMakeFiles/ShowIncludes/main.obj
/out/build/x64-Debug/CMakeFiles/sw_sdk.dir/manifest.rc
/out/build/x64-Debug/CMakeFiles/sw_sdk.dir/manifest.res
/.vs/ProjectSettings.json
/out/build/x64-Debug/.cmake/api/v1/query/client-MicrosoftVS/query.json
/out/build/x64-Debug/CMakeFiles/rules.ninja
/out/build/x64-Debug/CMakeFiles/sw_sdk.dir/hooks/dep/safetyhook.cpp.obj
/out/build/x64-Debug/CMakeFiles/sw_sdk.dir/hooks/dep/safetyhook.cpp.obj.ddi
/out/build/x64-Debug/CMakeFiles/sw_sdk.dir/hooks/dep/safetyhook.cpp.obj.modmap
/.vs/slnx.sqlite
/out/build/x64-Debug/sw_sdk.dll
/out/build/x64-Debug/sw_sdk.ilk
/out/build/x64-Debug/sw_sdk.pdb
/out/build/x64-Debug/.cmake/api/v1/reply/target-sw_sdk-Debug-02d3dd4d7950048cce5f.json
/out/build/x64-Debug/CMakeFiles/TargetDirectories.txt
/out/build/x64-Debug/.cmake/api/v1/reply/toolchains-v1-854b9a1fcbca2f120936.json
/out/build/x64-Debug/CMakeFiles/sw_sdk.dir/vc140.pdb
/out/build/x64-Debug/VSInheritEnvironments.txt
/.vs/VSWorkspaceState.json
/out/build/x64-Debug/CMakeFiles/sw_sdk.dir/hooks/dep/Zydis.c.obj
